<div class="container">
<h2 class="jumbotron"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;Editar pelicula</h2>


<div style="width:70%; margin: 0px auto;"> 

<%=form_for @pelicula do |p| %>
    <div class="field">
        <%=p.text_field :name, placeholder: "Nombre", class:"form-control" %>
    </div>
    <div class="field">
        <%=p.text_field :stars, placeholder: "Estrellas", class:"form-control" %>
    </div>
    <div class="field">
        <%=p.text_field :main_actor, placeholder: "Actor principal", class:"form-control" %>
    </div>
    <div class="field">
        <%=p.text_field :year, placeholder: "Año", class:"form-control" %>
    </div>
    <div class="field">
    <%= p.submit "Añadir", class:"btn btn-md btn-danger white pull-right" %>
    </div>
    <% end %>
	<%= link_to "Back",  peliculas_path, class:"btn btn-md btn-success" %>
</div>

</div>